<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <a href="load">
        <h1>Инструкция по пользованию сайтом</h1>
        <h2>Правила составления документа:</h2>
        <p>Сайт работает с двумя форматами входных данных: .tex и .doc (очень советуем использовать tex)
        В файле перед каждым вопросом должен стоять "лейбл", который определяет сложность вопроса.
            На данный момент алгоритм принимает вопросы "на 3", "на 4" и "на 5",</p>
        <input type="button" value="Продолжить" /></a>
</body>
</html>