<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
        <h1>Инструкция по пользованию сайтом</h1>
        <h2>Правила составления документа:</h2>
        <p>Сайт работает с двумя форматами входных данных: .tex и .doc (настоятельно рекомендуем использовать tex)<br>
            В вашем файле каждый вопрос (или задача) может иметь сложность.<br>
            На данный момент алгоритм принимает вопросы "на 3", "на 4" и "на 5", так же есть возможность добавлять задачи.<br>
            То есть, либо ваши задачи разделены по сложности, либо они все равнозначны.<br>
            Для того, чтобы отметить сложность задач, нужно перед каждой из них поставить "лейбл", в качестве лейбла может выступать картинка в формате png или jpg (в этом случае вам нужно будет загрузить эти картинки на странице ввода параметров),
            либо, если вы не хотите использовать картинки, необходило будет перед каждым вопросом написать "Вопрос на 3.", "Вопрос на 4.", "Вопрос на 5." или "Задача."<br>
            Мы предлагаем вам использовать картинки с кубиками, которые вы можете скачать, нажав эту кнопку
        <div class="download_container">
        <a href="preview/downloadfile/pictures.zip">
        <input type="button" value="Загрузить картинки" /></a></div>
            Если ваши вопросы равнозначны, отметьте все вопросы как вопросы на 3, то есть перед каждым вопросом все равно нужно будет поставить картинку, либо "Вопрос на 3."<br>
            Важно: картинки можно вставлять только в tex, в doc придется писать сложность словами. Также картинку важно вставлять ПЕРЕД вопросом
        </p>
        <h2>Заполнение параметров:</h2>
        <p>
            На странице с параметрами вам необходимо будет загрузить картинки, которыми вы отмечали сложность вопросов в вашем документе.<br>
            Эти картинки нужно будет загрузить в поля "Картинка для для ..."<br>
            Если вы помечали вопросы строками "Вопрос на 3.", "Вопрос на 4.", "Вопрос на 5." или "Задача.", то туда ничего загружать не нужно.<br>
            Если все ваши вопросы равны по сложности, добавьте картинку, которой вы помечали вопросы, в поле "Картинка для вопросов на 3". А количество вопросов в каждом билете введите в поле "Вопросы на 3"<br>
            Так же вам будет нужно выбрать количество билетов и количество вопросов каждой сложности в одном билете. Если у вас, например, есть вопросы только "на 4" и "на 5", но нет вопросов "на 3", то проигнорируйте поле "Картинка на 3", а в поле "Количество вопросов на 3 в билете" введите 0<br>
            То же и с задачами, если у вас их нет, то поставьте 0 в поле "Количество задач в билете"
        </p>
        <p>После ввода всех параметров, вы сможете посмотреть на получившийся результат, и, в случае несовпадения результата с вашими ожиданиями, вернуться назад и поменять параметры</p>
        <a href="load">
        <input type="button" value="Продолжить" /></a>
</body>
</html>