@font-face {
    font-family: 'Acrom';
    src: url('./fonts/Acrom-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Acrom';
    src: url('./fonts/Acrom-Regular.ttf');
    font-weight: normal;
}

.container {
    text-align: center;
    position: center;
    margin-left: auto;
    font-size: 20px;
    font-family: 'Acrom';
    font-weight: bold;
}

body {
    position: center;
    background: #B4EFFF;
    text-align: center;
    font-family: 'Acrom';
}

header{
    color: black;
    text-align: center;
    font-family: 'Acrom';
}

.header2{
    text-align: center;
    font-family: 'Acrom';
}



header {
    padding: 40px;
    text-align: center;
    background: #B4EFFF;
    color: white;
    font-size: 5px;
    font-family: 'Acrom';
    font-weight: Bold;
}


main {
    position: center;
    margin-left: auto;
    font-size: 25px;
    text-align: center;
    font-family: 'Acrom';
    font-weight: bold;
}

.picture1 {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.picture2 {
    position: absolute;
    bottom: 20px;
    left: 0px;
}
