@font-face {
    font-family: 'Acrom';
    src: url('./fonts/Acrom-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Acrom';
    src: url('./fonts/Acrom-Regular.ttf');
    font-weight: normal;
}


body {
    background: #B4EFFF;
}


header {
    padding: 40px;
    text-align: center;
    background: #B4EFFF;
    color: white;
    font-size: 5px;
    font-family: 'Acrom';
    font-weight: Bold;
}

header h1 {
    color: black;
}

.container {
    text-align: center;
    position: center;
    margin-left: auto;
    font-size: 20px;
    font-family: 'Acrom';
    font-weight: bold;
}

main {
    position: center;
    margin-left: auto;
    font-size: 25px;
    text-align: center;
    font-family: 'Acrom';
    font-weight: bold;
}


.column1 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    float: top;
    margin: auto;
    width: 50%;
    padding: 5px;
}

.column2 {
    position: absolute;
    bottom: 25px;
    right: -250px;
    float: top;
    margin: auto;
    width: 50%;
    padding: 5px;
}

.download_container {
    text-align: center;
    position: center;
    margin-left: auto;
    font-size: 20px;
    font-family: 'Acrom';
    font-weight: bold;
}